* {
    font-family: Poppins;
}

#title {
    color: red;
}

h1 {
    color: #556ee5;
}

body {
    background-color: #d4dbf8;
}

#createUser{
    color: white;
    background-color: #556ee5;
    text-transform: capitalize;
}

thead {
    color: white;
    background-color: #556ee5;
}


